.img{
    object-fit: cover;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    gap: 20px;
}

.cardContainer{
    padding: 0;
    aspect-ratio: 16/9;
}

.card{
    height: 100%;
    padding: 0;
}

.cardContent{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

.carousel{
    width: 70%;
}

@media (width >= 48rem){

    .container{
        width: 70%;
    }
}

@media (min-width: 768px) {
  /* iPad, планшеты Android */
    .text1{
        font-size: 35px;
    }

    .text2{
        font-size: 15px;
    }

    .menu{
        display: flex;
    }
}

@media (min-width: 1024px) {
  /* Стандартные ноутбуки */
  .text1{
        font-size: 35px;
    }

    .text2{
        font-size: 15px;
    }
}

@media (min-width: 1280px) {
  /* Десктопы ноутбуки */
  .text1{
        font-size: 40px;
    }

    .text2{
        font-size: 20px;
    }
}

@media (min-width: 1440px) {
  /* Большие экраны */
  .text1{
        font-size: 40px;
    }

    .text2{
        font-size: 20px;
    }
}