h3{
    font-weight: 700;
    margin-bottom: 10px;
}

.mediaUl{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

li{
    text-align: center;
}

.media{
  width: 30px;
  height: 30px;
}

.media1{
  height: 50px;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 0px;
    padding: 0px;
    
}

.child1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-top: 1px solid black;
    width: 100%;
}

.child2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    width: 100%;
}